@charset "UTF-8";

body {
  margin-top: 140px;
  margin-bottom: 800px;
}

.navbar {
  padding: 5px 20px;
}

#load-box td {
  padding-right: 8px;
}

.label {
  font-weight: lighter;
}

.node {
  margin: 2px 0px 2px 6px;
  padding: 2px 0px 2px 2px;
  border: solid thin lightblue;
  background-color: #fdfdfd;
}

.node > .controls {
  display: inline-block;
  width: 50px;
}

.node > .controls > a {
  font-family: monospace;
  font-size: 12pt;
}

.node > .controls > a:active,
.node > .controls > a:focus,
.node > .controls > a:hover,
.node > .controls > a:visited {
  text-decoration: none;
}

.node > .displaytext {
  display: inline-block;
}

.node > .displaytext > .kind {
  font-size: 12pt;
  margin-right: 12px;
}

.node > .displaytext > .address {
  font-family: monospace;
  font-size: 8pt;
  margin-right: 8px;
}

.node > .body {
  padding: 2px;
}

.node > .body > .text {
  margin-left: 10px;
  padding-left: 2px;
  border-left: solid thin lightblue;
}

.node-hl {
  background-color: #fcf8e3;
}

.node-hl-type {
  background-color: #d9edf7;
}

.node-hl-value {
  background-color: #e7e7e9;
}

.node-hl-variable {
  background-color: #f2dede;
}

/* flashing animation */
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 2;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 2;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 2;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}
