@charset "UTF-8";

body {
  margin-top: 90px;
  margin-bottom: 800px;
}

a.disabled {
  pointer-events: none;
  color: #333;
}

/* ------------------------------------------------------------ Navbar */

.navbar {
  padding: 0px 20px;
  display: inline-flex;
}

.navbar-right {
  margin-left: auto;
}

#filename-box {
  top: 49px;
  right: -1px;
  position: fixed;
  z-index: 1040;

  background-color: #f8f8f8;
  border: solid thin #e7e7e7;
  border-top: none;

  font-size: 16px;
  padding: 5px 10px;
}

/* ------------------------------------------------------------ Body */

#tree {
  padding-right: 6px;
}

#dropzone {
  background-color: gray;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.6;
}

/* ------------------------------------------------------------ Messages */

#message-box {
  position: fixed;
  width: 350px;
  top: 100px;
  right: 5px;
  z-index: 1040;
}

#message-box > div {
  cursor: pointer;
}

/* ------------------------------------------------------------ Nodes */

.label {
  font-weight: lighter;
}

.node {
  margin: 2px 0px 2px 6px;
  border: solid thin lightblue;
  background-color: #fdfdfd;
  padding: 2px;
  position: relative;
}

.node:hover {
  border: solid 3px lightblue;
  padding: 0px;
}

.node.selected {
  border: solid 3px lightslategrey;
  padding: 0px;
}

.node-head {
  cursor: pointer;
}

.node-hl {
  background-color: #fcf8e3;
}

.node-hl-type {
  background-color: #d9edf7;
}

.node-hl-value {
  background-color: #e7e7e9;
}

.node-hl-variable {
  background-color: #f2dede;
}

.node-controls {
  display: inline-block;
}

.node-controls-expand {
  font-family: monospace;
  font-size: 12pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.node-controls-bookmark {
  padding: 0px 12px;
}

.node-header {
  display: inline-block;
  padding-right: 75px;
}

.node-header-path {
  font-family: monospace;
  font-size: 8pt;
  margin-right: 8px;
}

.node-header-kind {
  font-size: 12pt;
  margin-right: 12px;
}

.node-header-type,
.node-header-value,
.node-header-variable,
.node-header-meta,
.node-header-ref {
  display: inline-block;
  color: #fff;
  font-size: 10px;
  padding: 0px 4px;
  margin: 0px 10px -2px;
  border-radius: 2px;
}

.node-header-type:empty,
.node-header-value:empty,
.node-header-variable:empty,
.node-header-meta:empty {
  display: none;
}

.node-header-type {
  background-color: #5bc0de;
  max-width: 500px;
}

.node-header-value {
  background-color: #777;
}

.node-header-variable {
  background-color: #d9534f;
}

.node-header-meta {
  color: #333;
  background: #eee;
}

.node-header-ref {
  color: #333;
  background: #eee;
  position: absolute;
  right: 0px;
  top: 5px;
  font-family: monospace;
  max-width: 75px;
  text-align: right;
}

/* do not move reference label on hover */
.node:not(.selected):hover > .node-head > .node-header > .node-header-ref {
  top: 3px;
  right: -2px;
}

.node-body-text {
  margin: 5px 5px 5px 10px;
  padding-left: 5px;
  border-left: solid thin lightblue;
}

.node-body-text:empty {
  display: none;
}

/* ------------------------------------------------------------ Analysis Metadata */

.node-body-analysis {
  background: #eeeeee;
  padding: 5px;
  margin: 2px 2px 2px 6px;
  border-radius: 2px;
}

.node-body-analysis a.analysismeta-group-header-label {
  cursor: pointer;
}

.node-body-analysis .analysismeta-group-body {
  margin-left: 16px;
  margin-bottom: 5px;
  border-top: solid thin lightblue;
}

.node-body-analysis .analysismeta-linkgroup-header {
  font-weight: bold;
}

.node-body-analysis .analysismeta-linkgroup-body {
  margin-left: 16px;
}

.node-body-analysis .analysismeta-ellipsis {
  cursor: pointer;
  color: #333;
  background: #ddd;
  font-size: 10px;
  padding: 0px 4px;
  margin: 0px 10px -2px;
  border-radius: 2px;
}

/* ------------------------------------------------------------ Animations */
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}
