@charset "UTF-8";

body {
  margin-top: 90px;
  margin-bottom: 800px;
}

.navbar {
  padding: 0px 20px;
  min-width: 1120px;
}

.label {
  font-weight: lighter;
}

#filename-box {
  top: 49px;
  right: -1px;
  position: fixed;
  z-index: 1040;

  background-color: #f8f8f8;
  border: solid thin #e7e7e7;
  border-top: none;

  font-size: 16px;
  padding: 5px 10px;
}

#tree {
  padding-right: 6px;
}

.node {
  margin: 2px 0px 2px 6px;
  border: solid thin lightblue;
  background-color: #fdfdfd;
}

.node > .controls {
  display: inline-block;
  width: 50px;
}

.node > .controls > a {
  font-family: monospace;
  font-size: 12pt;
}

.node > .controls > a:active,
.node > .controls > a:focus,
.node > .controls > a:hover,
.node > .controls > a:visited {
  text-decoration: none;
}

.node > .displaytext {
  display: inline-block;
}

.node > .displaytext > .bookmark {
  padding: 0px 5px;
}

.node > .displaytext > .kind {
  font-size: 12pt;
  margin-right: 12px;
}

.node > .displaytext > .address {
  font-family: monospace;
  font-size: 8pt;
  margin-right: 8px;
}

.node > .body {
  padding: 2px;
}

.node > .body > .text {
  margin-left: 10px;
  padding-left: 2px;
  border-left: solid thin lightblue;
}

.node-hl {
  background-color: #fcf8e3;
}

.node-hl-type {
  background-color: #d9edf7;
}

.node-hl-value {
  background-color: #e7e7e9;
}

.node-hl-variable {
  background-color: #f2dede;
}

/* flashing animation */
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-moz-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}

@-ms-keyframes flash {
    0% { background-color: none; }
    50% { background-color: #fbf8b2; }
    100% { background-color: none; }
}
